<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head.ejs') %>
  <title>Your Favorites</title>
</head>
<body>
  <header>
    <%- include('./partials/header.ejs') %>
  </header>

  <div id="clear"></div>
  
  <main>
    <div class="space"></div>
    <section class="wrapper">
    <section id="faves" class="container">
      <% searchResults.forEach(value =>{ %>
        <div id="fave">
        <article class="movie">

          <h3><%= value.title %></h3>
          <img src="<%= value.poster_path %>" alt="<%= value.title %>" id="<%= value.movie_id %>">
        </article>
        
        <form action="/favorites/<%= value.movie_id %>?_method=DELETE" method="POST">
          <button type="submit">Delete From Favorites</button>
        </form>

          <form action="/watchlist" method="POST">
            <input type="hidden" name="popularity" value="<%= value.popularity%>">
            <input type="hidden" name="poster_path" value="<%= value.poster_path%>">
            <input type="hidden" name="id" value="<%= value.id%>">
            <input type="hidden" name="backdrop_path" value="<%= value.backdrop_path%>">
            <input type="hidden" name="title" value="<%= value.title %>">
            <input type="hidden" name="vote_average" value="<%= value.vote_average%>">
            <input type="hidden" name="overview" value="<%= value.overview%>">
            <input type="hidden" name="release_date" value="<%= value.release_date%>">
            <button type="submit">Add To Watch Later List</button>
          </form>

          </div>

          <input type="hidden" value="<%= value.title %>">

          <div class="modal" id="<%=value.movie_id%>Modal">
            <img src="<%= value.poster_path%>" alt="<%= value.title %>">
            <span class="close">close</span>
            <h2><%= value.title %></h2>
            <p><%= value.overview%></p>
            <p> Release Date: <%= value.release_date%></p>
            <p> Rating: <%= value.vote_average %></p>
            <p> Your Rating: <%=value.user_rating%> </p>
            
            <button class="add-rating">Add Rating</button>
            <form class='choose-rating' method="POST" action="/update/<%=value.movie_id%>?_method=PUT">
              <select name="user_rating">
                <option value="1">1 &#9733;</option>
                <option value="2">2 &#9733;</option>
                <option value="3">3 &#9733;</option>
                <option value="4">4 &#9733;</option>
                <option value="5">5 &#9733;</option>
                <option value="6">6 &#9733;</option>
                <option value="7">7 &#9733;</option>
                <option value="8">8 &#9733;</option>
                <option value="9">9 &#9733;</option>
                <option value="10">10 &#9733;</option>
              </select>
              <button type="submit" class="submit">submit</button>
            </form>
          </div>
      
     <% }) %>
    </section>
    </section>
  </main>
  
  <%- include('./partials/footer.ejs') %>
</body>
</html>