<!DOCTYPE html>
<html lang="en">
<head>

  <%- include('./partials/head.ejs') %>
    <title>Intro Page</title>

</head>
<body>
  <header>
    <%- include('./partials/header.ejs') %>
  </header>


<div id="clear"></div>
  
  <main> 
    <form id="search-field" action="/search" method="POST">
      <fieldset>
        <input class="search" type="text" name="search" placeholder="search for movies...">
        <button type="submit">Search</button>
      </fieldset>
    </form>
    <section class="wrapper">
      <section class="container">
        <h2>By Search</h2>
          <% searchResults[0].forEach(movie => { %>       
            
            <article class="movie">
              <h3> <%= movie.title %> </h3>
              <img src="<%= movie.poster_path %>" alt="<%= movie.title %>" id="<%=movie.id%>">
            </article>

            <button><a href="/search/<%= movie.title %>">See more Like this</a></button>

            <div class="modal" id="<%=movie.id%>Modal">
              <img src="<%= movie.poster_path%>" alt="<%= movie.title %>">
              <span class="close">close</span>
              <h2><%= movie.title %></h2>
              <p><%= movie.overview%></p>
              <p> Release Date: <%= movie.release_date%></p>
              <p> Rating: <%= movie.vote_average %></p>

              <form action="/favorites" method="POST">
                <input type="hidden" name="popularity" value="<%= movie.popularity%>">
                <input type="hidden" name="poster_path" value="<%= movie.poster_path%>">
                <input type="hidden" name="id" value="<%= movie.id%>">
                <input type="hidden" name="backdrop_path" value="<%= movie.backdrop_path%>">
                <input type="hidden" name="title" value="<%= movie.title %>">
                <input type="hidden" name="vote_average" value="<%= movie.vote_average%>">
                <input type="hidden" name="overview" value="<%= movie.overview%>">
                <input type="hidden" name="release_date" value="<%= movie.release_date%>">
  
                <button type="submit">Add To Favorites</button>
              </form>
  
              <form action="/watchlist" method="POST">
                <input type="hidden" name="popularity" value="<%= movie.popularity%>">
                <input type="hidden" name="poster_path" value="<%= movie.poster_path%>">
                <input type="hidden" name="id" value="<%= movie.id%>">
                <input type="hidden" name="backdrop_path" value="<%= movie.backdrop_path%>">
                <input type="hidden" name="title" value="<%= movie.title %>">
                <input type="hidden" name="vote_average" value="<%= movie.vote_average%>">
                <input type="hidden" name="overview" value="<%= movie.overview%>">
                <input type="hidden" name="release_date" value="<%= movie.release_date%>">
                <button type="submit">Add To Watchlist</button>
              </form>

            </div>
            <% }) %> 
       </section>
       <section class="container">
        <h2>By Genre</h2>
          <% searchResults[1].forEach(movie => { %>
                     
            <article class="movie">
              <h3> <%= movie.title %> </h3>
              <img src="<%= movie.poster_path %>" alt="<%= movie.title %>" id="<%=movie.id%>">
            </article>

            <button><a href="/search/<%= movie.title %>">See more Like this</a></button>
            
            <div class="modal" id="<%=movie.id%>Modal">
              <img src="<%= movie.poster_path%>" alt="<%= movie.title %>">
              <span class="close">close</span>
              <h2><%= movie.title %></h2>
              <p><%= movie.overview%></p>
              <p> Release Date: <%= movie.release_date%></p>
              <p> Rating: <%= movie.vote_average %></p>

              <form action="/favorites" method="POST">
                <input type="hidden" name="popularity" value="<%= movie.popularity%>">
                <input type="hidden" name="poster_path" value="<%= movie.poster_path%>">
                <input type="hidden" name="id" value="<%= movie.id%>">
                <input type="hidden" name="backdrop_path" value="<%= movie.backdrop_path%>">
                <input type="hidden" name="title" value="<%= movie.title %>">
                <input type="hidden" name="vote_average" value="<%= movie.vote_average%>">
                <input type="hidden" name="overview" value="<%= movie.overview%>">
                <input type="hidden" name="release_date" value="<%= movie.release_date%>">
  
                <button type="submit">Add To Favorites</button>
              </form>
  
              <form action="/watchlist" method="POST">
                <input type="hidden" name="popularity" value="<%= movie.popularity%>">
                <input type="hidden" name="poster_path" value="<%= movie.poster_path%>">
                <input type="hidden" name="id" value="<%= movie.id%>">
                <input type="hidden" name="backdrop_path" value="<%= movie.backdrop_path%>">
                <input type="hidden" name="title" value="<%= movie.title %>">
                <input type="hidden" name="vote_average" value="<%= movie.vote_average%>">
                <input type="hidden" name="overview" value="<%= movie.overview%>">
                <input type="hidden" name="release_date" value="<%= movie.release_date%>">
                <button type="submit">Add To Watchlist</button>
              </form>

            </div>
            <% }) %> 
       </section>
       <section class="container">
        <h2>By Popularity</h2>
          <% searchResults[2].forEach(movie => { %>
           
            
            <article class="movie">
              <h3> <%= movie.title %> </h3>
              <img src="<%= movie.poster_path %>" alt="<%= movie.title %>" id="<%=movie.id%>">
            </article>
            
            

            <button><a href="/search/<%= movie.title %>">See more Like this</a></button>
            
            <div class="modal" id="<%=movie.id%>Modal">
              <img src="<%= movie.poster_path%>" alt="<%= movie.title %>">
              <span class="close">close</span>
              <h2><%= movie.title %></h2>
              <p><%= movie.overview%></p>
              <p> Release Date: <%= movie.release_date%></p>
              <p> Rating: <%= movie.vote_average %></p>

              <form action="/favorites" method="POST">
                <input type="hidden" name="popularity" value="<%= movie.popularity%>">
                <input type="hidden" name="poster_path" value="<%= movie.poster_path%>">
                <input type="hidden" name="id" value="<%= movie.id%>">
                <input type="hidden" name="backdrop_path" value="<%= movie.backdrop_path%>">
                <input type="hidden" name="title" value="<%= movie.title %>">
                <input type="hidden" name="vote_average" value="<%= movie.vote_average%>">
                <input type="hidden" name="overview" value="<%= movie.overview%>">
                <input type="hidden" name="release_date" value="<%= movie.release_date%>">
  
                <button type="submit">Add To Favorites</button>
              </form>
  
              <form action="/watchlist" method="POST">
                <input type="hidden" name="popularity" value="<%= movie.popularity%>">
                <input type="hidden" name="poster_path" value="<%= movie.poster_path%>">
                <input type="hidden" name="id" value="<%= movie.id%>">
                <input type="hidden" name="backdrop_path" value="<%= movie.backdrop_path%>">
                <input type="hidden" name="title" value="<%= movie.title %>">
                <input type="hidden" name="vote_average" value="<%= movie.vote_average%>">
                <input type="hidden" name="overview" value="<%= movie.overview%>">
                <input type="hidden" name="release_date" value="<%= movie.release_date%>">
                <button type="submit">Add To Watchlist</button>
              </form>

            </div>
            <% }) %> 
       </section>
    </section>
  </main>

  <%- include('./partials/footer.ejs') %>

</body>
</html>
