<!DOCTYPE html>
<html lang="en">
<head>

  <%- include('./partials/head.ejs') %>
    <title>Intro Page</title>

</head>
<body>
  <header>
    <h1>Anti-Socialite</h1>
  </header>

  <h2> Your evening alone starts here</h2>

  <main>
    <form action="/search" method="POST">
      <fieldset>
        <input class="search" type="text" name="search" placeholder="search for movies...">
        <button type="submit">Search</button>
      </fieldset>
    </form>
    <section class="wrapper">
      <section class="container">
        <h2>By Search</h2>
          <% searchResults[0].forEach(movie => { %>
          
            <form action="/favorites" method="POST">

              <article class="movie">
                <h3> <%= movie.title %> </h3>
                <img src="<%= movie.poster_path %>" alt="<%= movie.title %>">
              </article>

              <input type="hidden" name="title" value="<%= movie.title %>">
              <input type="hidden" name="image" value="<%= movie.image %>">
              <button type="submit">Add To Favorites</button>
            </form>

            <form action="/watchlist" method="POST">
              <input type="hidden" name="title" value="<%= movie.title %>">
              <input type="hidden" name="image" value="<%= movie.image %>">
              <button type="submit">Add To Watchlist</button>
            </form>
            <button><a href="/search/<%= movie.title %>">See more Like this</a></button>
            <div class="modal">
              <h2><%= movie.title %></h2>
              <img src="<%= movie.poster_path%>" alt="<%= movie.title %>">
              <p><%= movie.overview%></p>
              <p><%= movie.release_date%></p>
              <p><%= movie.vote_average %></p>
            </div>
            <% }) %> 
       </section>
       <section class="container">
        <h2>By Genre</h2>
          <% searchResults[1].forEach(movie => { %>
          
            <form action="/favorites" method="POST">

              <article class="movie">
                <h3> <%= movie.title %> </h3>
                <img src="<%= movie.poster_path %>" alt="<%= movie.title %>">
              </article>

              <input type="hidden" name="title" value="<%= movie.title %>">
              <input type="hidden" name="image" value="<%= movie.image %>">
              <button type="submit">Add To Favorites</button>
            </form>

            <form action="/watchlist" method="POST">
              <input type="hidden" name="title" value="<%= movie.title %>">
              <input type="hidden" name="image" value="<%= movie.image %>">
              <button type="submit">Add To Watchlist</button>
            </form>
            <button><a href="/search/<%= movie.title %>">See more Like this</a></button>
            <% }) %> 
       </section>
       <section class="container">
        <h2>By Popularity</h2>
          <% searchResults[2].forEach(movie => { %>
           
            <form action="/favorites" method="POST">

              <article class="movie">
                <h3> <%= movie.title %> </h3>
                <img src="<%= movie.poster_path %>" alt="<%= movie.title %>">
              </article>

              <input type="hidden" name="title" value="<%= movie.title %>">
              <input type="hidden" name="image" value="<%= movie.image %>">
              <button type="submit">Add To Favorites</button>
            </form>

            <form action="/watchlist" method="POST">
              <input type="hidden" name="title" value="<%= movie.title %>">
              <input type="hidden" name="image" value="<%= movie.image %>">
              <button type="submit">Add To Watchlist</button>
            </form>
            <button><a href="/search/<%= movie.title %>">See more Like this</a></button>
            <% }) %> 
       </section>
    </section>
  </main>

  <%- include('./partials/footer.ejs') %>

</body>
</html>
