<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head.ejs') %>
  <title>Your Watchlist</title>
</head>
<body>
  <header>
    <%- include('./partials/header.ejs') %>
  </header>
  <main>
    <section>
      <% searchResults.forEach(value =>{ %>
        <article>
          <img src="<%= value.poster_path %>" alt="<%= value.title %>">
          <h2><%= value.title %></h2>
          <form action="/watchlist/<%= value.movie_id %>?_method=DELETE" method="POST"> <!-- Changed -->
            <button type="submit">Delete From Watchlist</button>
          </form>
          <form action="/favorites" method="POST">
            <button type="submit">Add To Favorites</button>
          </form>
          <input type="hidden" value="<%= value.title %>">
        </article>
      <% }) %>
    </section>
  </main>
</body>
</html>